name: Tester

on:
  push:
    branches: [ master , f* , p* ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  dev-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Test
      run: cargo test --verbose
    - name: Build
      run: cargo build --verbose
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}-glibc-amd64-${{ github.event.repository.name }}
        path: |
          .target/debug/mr
          .target/debug/mtpc
          .target/debug/smc
